.Book {
    border: 1px solid #a7c912;
    padding: 16px;
    margin: 16px;
    height: 200px;
    width: 100px;
    background-color: #a3087f;
    
}

.Book img {
    width: 80%;
    height: auto;
}

.Book p {
    text-align: center;
    font-weight: bold;
    margin-top: 6px;
}