* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#card{
    background-color: #1E213A;
    color: white;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}